body {
    text-align: center;
    color: #fff;
    background-color: #d7cec7;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    text-align: left;
    color: #000;
    padding: 0px 30px;
    font-size: 1.6em;
}

.navbar-fixed-top {
    background-color: #000;
    border: none;
}

.footer {
    background-color: #000;
}

#footer-info {
    margin-top: 20px;
    color: #d7cec7;
}

.brand {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    line-height: 1.8em;
    margin: 0;
}

a.brand-link:link {
    text-decoration: none;
}

a.brand-link:hover {
    text-decoration: none;
}

a.login:link {
    text-decoration:none;
    color: #000;
}

a.login:visited {
    color: #000;
}

a.login:hover {
    text-decoration: none;
    color: #c40101;
}

.auth-user {
    margin-top: 100px;
}

.jumbotron {
    background-color: #c09f80;
}