.dropdown-menu {
    background-color: #eb6864;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-left: 25px;
    float: right;
}

.wrapper-div {
    display: inline-block;
}

.btn-group>.btn:first-child {
    margin-top: 27px;
}

@media only screen and (max-width: 767px) {
    .btn-group>.btn:first-child {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}