.footer {
    background-color: #000;
}

#footer-info {
    margin-top: 20px;
    color: #d7cec7;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}