.profile-jumbo {
    background-color: #b7b1a8;
    background-size: 940px 400px;
    height: 300px;
    padding-left: 40px;
    text-align: left;
}

.color-box-row {
    margin-bottom: 100px;
}

.users-name {
    font-size: 3em;
    margin-bottom: 45px;
}

.user-pic {
    float: right;
    border-radius: 100px;
    margin-right: 40px;
    width: 150px;
}

.logout-button {
    background: #eb6864;
    width: 90px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 5px;
}

.color-scheme-button {
    background: #eb6864;
    width: 190px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    margin-right: 15px;
}