body {
    text-align: center;
    color: #fff;
    background-color: #d7cec7;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    text-align: left;
    color: #000;
    padding: 0px 30px;
    font-size: 1.6em;
}

.login-button {
    background: none;
    border: none;
}

a.login:link {
    text-decoration:none;
    color: #fff;
}

a.login:visited {
    color: #fff;
}

a.login:hover {
    text-decoration: none;
    color: #c40101;
}

.auth-user {
    margin-top: 100px;
}

.main-jumbo {
    background-color: #eb6864;
    background-image: url("./images/elephant.png");
    background-repeat: no-repeat;
    background-size: 940px 400px;
    height: 350px;
}